{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    // A .jsx extension is not required for files containing jsx.
    "react/jsx-filename-extension": 0,
    // We use global requires in various places, e.g. code splitting instances.
    "global-require": 0
  }
}
